@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: disc;
}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  backdrop-filter: blur(7px);
  background-color: rgba(0, 0, 30, 0.4);
}

.rodhiRed {
  color: #dd0b39;
}

.rodhiBlue {
  color: #013593;
}

.rodhiRedHover:hover {
  color: #dd0b39;
}
.rodhiBlueHover:hover {
  color: #013593;
}
